<h4 style="text-align:center;">Inserisci dati di Spedizione:</h4>
<form class="input-group">
	<div class="input-row">
		<label>Nome</label>
		<input type="text" placeholder="Mario">
	</div>
	<div class="input-row">
		<label>Cognome</label>
		<input type="text" placeholder="Rossi">
	</div>
	<div class="input-row">
		<label>Indirizzo</label>
		<input type="text" placeholder="Via migliara 56">
	</div>
	<div class="input-row">
		<label>CAP</label>
		<input type="number" placeholder="07100">
	</div>
	<div class="input-row">
		<label>Città</label>
		<input type="number" placeholder="Chieti">
	</div>
	<div class="input-row">
		<label>Telefono</label>
		<input type="number" placeholder="+393277447643">
	</div>
</form>



</div>

<button class="btn btn-primary btn-block">Paga con PayPal</button>
<button class="btn btn-positive btn-block">Paga con Contrassegno</button>
