
        <div class="row">
            <!-- Info di contatti: Posizione, Numero di Telefono, email -->
            <div id="info" class="col s12">
                <ul class="collection">
                    <li class="collection-item">
                        <a href="#!" class="secondary-content"><i class="material-icons medium">location_on</i></a>
                        <span class="title">Dove Siamo</span>
                        <p>Loveitaly s.r.l.s, Via Abbazia 16 - 66030 Treglio (CH)</p>
                    </li>
                    <li class="collection-item">
                        <a href="#!" class="secondary-content"><i class="material-icons medium">phone</i></a>
                        <span class="title">Chiamaci</span>
                        <p>339 53 47 252</p>
                    </li>
                    <li class="collection-item">
                        <a href="#!" class="secondary-content"><i class="material-icons medium">email</i></a>
                        <span class="title">Email</span>
                        <p>info@loveitaly.net</p>
                    </li>
                    <li class="collection-item">
                      <!-- Form: Titolo Problema -->
                      <h6>Problemi con l'app? Inviaci una domanda!</h6>
                      <div class="col s12">
                          <input placeholder="Domanda" id="domanda" type="text" class="validate">
                      </div>

                      <!-- Form: Testo del problema -->
                      <div class="input-field col s12">
                          <textarea id="textarea1" placeholder="Testo della Domanda" class="materialize-textarea"></textarea>
                      </div>
                      <!-- Bottone d'invio -->
                     <a class="waves-effect waves-light btn col s4 offset-s4" style="margin-bottom:2em;"><i class="material-icons left">input</i>Invia</a>

                    </li>
                </ul>
            </div>
