
<div class="row">
  <!-- Info di contatti: Posizione, Numero di Telefono, email -->
  <div id="info" class="col s12">

    <ul class="collection">
      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!" class=""><i class="material-icons medium">location_on</i></a>
          </div>
          <div class="col s10"> 
            <span class="title"><strong>Dove Siamo</strong></span>
            <p>Loveitaly s.r.l.s, Via Abbazia 16 - 66030 Treglio (CH)</p>
          </div>
      </li>

      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!"><i class="material-icons medium">phone</i></a>
          </div>
          <div class="col s10"> 
            <span class="title"><strong>Chiamaci</strong></span>
            <p>339 53 47 252</p>
          </div>
      </li>

      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!"><i class="material-icons medium">email</i></a>
          </div>
          <div class="col s10"> 
            <span class="title"><strong>Email</strong></span>
            <p>info@loveitaly.net</p>
          </div>
      </li>

    </ul>
    <div id="arrow-header" >
      <h5 id="tit-vetr">Inviaci una domanda!</h5>
      <img src="img/arrow.png">
    </div>

    <div class="col s12 card">
      <!-- Form: Titolo Problema -->
      <div class="input-field col s12">
        <input placeholder="Domanda" id="domanda" type="text" class="validate">
      </div>
      <!-- Form: Testo del problema -->
      <div class="input-field col s12">
        <textarea id="textarea1" placeholder="Testo della Domanda" class="materialize-textarea"></textarea>
      </div>
      <!-- Bottone d'invio -->
      <div class="col s12">
        <a id="botinput" class="waves-effect waves-light btn"><i class="material-icons left">input</i>Invia</a>
      </div>

    </div>

  </div>
