<div class="container">
 <div class="row">
  <div class="col s12 center">
    <div id="arrow-header" >
      <h5 id="tit-vetr">{{name}}</h5>
      <img src="img/arrow.png">
    </div>
  </div>
  <div class="col s12">
    <div class="section">
      <div id="div-descr" class="card col s12">
        <p>{{short_description}}</p>
      </div>
    </div>
  </div>

  <div class="col s12">
   <ul class="collection with-header">
    <li id="listbymanu" class="collection-item"><div><h5>I nostri prodotti<a href="#!" class="secondary-content"><i class="material-icons small">forward</i></a></h5></div></li>

  </div>
</div>
</div>

