<div class="container">
           <div class="row">
                   <div class="col s12 center"><h5>{{name}}<h5></div>
             <div class="col s6"><br>
               <img class="responsive-img" src="http://placehold.it/640x480">
             </div>
             <div class="col s6">
               <br>
               <h6>Indirizzo</h6>
               <h6>Telefono</h6>
               <h6>Email</h6>
               <div id="blink2" style="text-align: center;">
               <i class="material-icons">screen_rotation</i><br>
               <span><h6>Mappa</h6></span>
             </div>
             </div>
             <div class="col s12">
               <div class="divider">
               </div>
               {{short_description}}
             </div>
             </div>
             <div class="col s12">
               <div class="divider">
               </div>

               <ul class="collection with-header">
        <li id="listbymanu" class="collection-item"><div> <h5>Prodotti</h5><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
             </div>

           </div>
