<div class="container">
  <div class="row center">
      <img src="img/faq.png" style="height:24em; width:24em; margin-bottom:2em;">
                <div class="col s12">

                    <ul class="collapsible" data-collapsible="accordion">
                        <li >
                          <div class="collapsible-header"><i class="material-icons">help</i>Dov’è attivo il servizio?</div>
                          <div class="collapsible-body"><p>Attualmente LoveItaly è attivo in Abruzzo nei comuni di: Castel Frentano, Fossacesia, Frisa, Lanciano, Mozzagrogna, Ortona, Rocca San Giovanni, Santa Maria Imbaro, San Vito Chietino e Treglio.</p></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">help</i>Quando viene effettuata la consegna della spesa?</div>
                          <div class="collapsible-body"><p>La consegna della spesa viene effettuata il martedì e il venerdì, tra le 10.00 e le 19.00, ma sei tu a scegliere la data tra quelle disponibili nel calendario. Gli ordini per il martedì si chiudono la domenica sera e quelli del venerdì il mercoledì sera.  </p></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">help</i>Posso effettuare il pagamento in contanti?</div>
                          <div class="collapsible-body"><p>Si. È possibile pagare la spesa anche in contanti alla consegna.</p></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">help</i>C’è un limite minimo di spesa?</div>
                          <div class="collapsible-body"><p>Si. 25 euro è il limite minimo di spesa (fino al 31 maggio ridotto a 18 euro).</p></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">help</i>Quanto costa il servizio?</div>
                          <div class="collapsible-body"><p>L’iscrizione al sito è totalmente gratuita e i prezzi dei prodotti sono visibili di fianco a ciascuno di essi. La consegna è GRATUITA. Solo un costo di gestione ordine di 2,00 euro viene aggiunto al totale della spesa per ogni acquisto (l'informazione è chiaramente visibile nella pagina del carrello).</p></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">help</i>Posso scegliere l’ora della consegna?</div>
                          <div class="collapsible-body"><p>No. Ma cercheremo sempre di contattarti con un po’ di anticipo per darti un’indicazione sull’orario di consegna.  </p></div>
                        </li>
                      </ul>
                </div>
                  </div>
            </div>
