<div class="row container">
  <div class="col s12 center ">
      <img id="localizza" src="img/localita.jpg" />
  </div>


    <ul class="collection " id="listaloc">


        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Castel Frentano">
            <img src="img/frentano.jpg" alt="" class="circle">
            <span class="title">
          <strong>Castel Frentano</strong>
          </span>

        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Fossacesia">
            <img src="img/fossacesia.jpg" alt="" class="circle">
            <span class="title">
         <strong>Fossacesia</strong>
         </span>

        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Frisa">
            <img src="img/frisa.jpg" alt="" class="circle">
            <span class="title">
         <strong>Frisa</strong>
         </span>

        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Lanciano">
            <img src="img/lanciano.jpg" alt="" class="circle">
            <span class="title">
         <strong>Lanciano</strong>
         </span>

        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Mozzagrogna">
            <img src="img/mozzacrogna.jpg" alt="" class="circle">
            <span class="title">
         <strong>Mozzagrogna</strong>
         </span>
        </li>

        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Ortona">
            <img src="img/ortona.jpg" alt="" class="circle">
            <span class="title">
         <strong>Ortona</strong>
         </span>
        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Rocca San Giovanni">
            <img src="img/sangiovanni.jpg" alt="" class="circle">
            <span class="title">
         <strong>Rocca San Giovanni</strong>
         </span>
        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Santa Maria Imbaro">
            <img src="img/santamariaimbaro.jpg" alt="" class="circle">
            <span class="title">
         <strong>Santa Maria Imbaro</strong>
         </span>
        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="San Vito Chietino">
            <img src="img/sanvito.jpg" alt="" class="circle">
            <span class="title">
         <strong>San Vito Chietino</strong>
         </span>
        </li>
        <li class="collection-item avatar" data-cat="{{this.id}}" id="listaprod" data-loc="Treglio">
            <img src="img/treglio.jpg" alt="" class="circle">
            <span class="title">
         <strong>Treglio</strong>
         </span>
        </li>
    </ul>
</div>
</div>
