<li onclick="location.href='???';" class="collection-item avatar">
  <img src="img/150.png" alt="" class="circle">
  <span class="title">Prodotto 1</span>
  <p>First Line
  <br> Second Line
  </p>
  <a href="#!" class="secondary-content "><i class="small material-icons">keyboard_arrow_right</i></a>
</li>
<li onclick="location.href='???';" class="collection-item avatar">
  <img src="img/150.png" alt="" class="circle">
  <span class="title">Prodotto 2</span>
  <p>First Line
  <br> Second Line
  </p>
  <a href="#!" class="secondary-content "><i class="small material-icons">keyboard_arrow_right</i></a>
</li>
<li onclick="location.href='???';" class="collection-item avatar">
  <img src="img/150.png" alt="" class="circle">
  <span class="title">Prodotto 3</span>
  <p>First Line
  <br> Second Line
  </p>
  <a href="#!" class="secondary-content "><i class="small material-icons">keyboard_arrow_right</i></a>
</li>
<li onclick="location.href='???';" class="collection-item avatar">
  <img src="img/150.png" alt="" class="circle">
  <span class="title">Prodotto 4</span>
  <p>First Line
  <br> Second Line
  </p>
  <a href="#!" class="secondary-content "><i class="small material-icons">keyboard_arrow_right</i></a>
</li>
