<div class="row center">
    <div class="col s12">
      <img src="img/login.png" style="height:24em; width:24em;">

      <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>

        <a class="waves-effect waves-light btn" style="margin-top:2em;">Accedi</a>
          <br>
          <!-- Modal Trigger -->
<a class="waves-effect waves-light btn" id="register" style="margin-top:2em;">Non hai un account? Registrati</a>
