

<main class="row">
            <!-- Slider Prodotti In Vetrina -->
            <h5 style="text-align:center;">Prodotti In Vetrina</h5>

            <section class="single-item">
                <div class="card col s12">
                    <div id="auth" class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            ( De Paulis Srl )
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div id="auth" class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
            </section>
            <!-- -->
            <!-- Slider Nuovi Prodotti-->
            <h5 style="text-align:center;">Nuovi Prodotti</h5>
            <section class="single-item">
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            ( De Paulis Srl )
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
                <div class="card col s12">
                    <div class="card-image">
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="card-content col s6">
                        <p>Zucchine<br>
                            De Paulis Srl
                        </p>
                    </div>
                    <div class="card-action col s6 ">
                        <a id="bottone-ca" class="waves-effect waves-light btn  light-green darken-3"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
            </section>
            <!-- -->
        </main>
