  <div class="container">
                <div class="row center">
                  <img src="img/personale.png" style="height:24em; width:24em; margin-bottom:2em;">
                    <div class="col s4">
                        <h6>Nome<br>
                            Cognome<br>
                            Data di nascita<br></h6>
                    </div>
                    <div class="col s4">
                        <h6>Luca<br>
                            Ferrari<br>
                            13/01/1994<br></h6>
                    </div>
                </div>
                <div class="divider">
                </div>
                <h5>Storico Ordini</h5>
                <ul class="collection">
                    <li class="collection-item ">
                      <span class="title">Title</span>
                      <p>First Line <br>
                         Second Line
                      </p>
                    </li>
                    <li class="collection-item ">
                      <span class="title">Title</span>
                      <p>First Line <br>
                         Second Line
                      </p>
                    </li>
                    <li class="collection-item ">
                      <span class="title">Title</span>
                      <p>First Line <br>
                         Second Line
                      </p>
                    </li>
                    <li class="collection-item ">
                      <span class="title">Title</span>
                      <p>First Line <br>
                         Second Line
                      </p>
                    </li>
                  </ul>
            </div>
